body{
    background: linear-gradient(120deg, #addaf8, #9778a5);
    text-align: center;
}
th{
    padding: 10px 150px 10px 150px;
    background-color: rgb(234, 215, 245);
    cursor: pointer;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border-radius: 10px;
}
.center h2{
    text-align: center;
    padding: 0 0 20px 0;
    color: rgb(30, 80, 80);
    padding: 10px;
}
.center div{
    text-align: center;
    font-weight: 500;
    font-size: larger;
    padding: 0 0 20px 0;
    color: rgb(46, 27, 2);
}
