h3{
    text-align: center;
    padding-top: 150px;
}
#div1{
    text-align: center;
    padding-left: 22px;
}
#div2{
    text-align: center;
}
#div3{
    text-align: center;
}
input[type="submit"]{
    background-color: aqua;
    border-radius: 10px;
    padding: 4px;
    width: 6%;
    font-weight: 700;

}